* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2, h3 {
    margin-top: 3em;  /* Espacio superior */
    margin-top: 3em;  /* Espacio inferior */
  }
  
  body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
  }
  
  .nav,
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #faf3e0; /* Beige claro */
    text-align: center;
    padding: 0 2em;
  }
  
  .nav h1,
  .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #028a7c;
    transition: all 0.3s ease;
    z-index: 3;
  }
  
  h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
  }
  
  .slider h2,
.nav h2 {
  font-size: 2.5vw; /* Un poco más grande para resaltar */
  letter-spacing: 0.2rem; /* Un espaciado de letra más sutil */
  font-family: "Lobster", sans-serif;
  font-weight: 400; /* Peso de fuente más equilibrado */
  color: #141414; /* Un rojo más vibrante y menos oscuro */
  text-transform: uppercase; /* Para dar un toque más estilizado */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); /* Sutil sombra para destacar */
  z-index: 4;
  transition: all 0.3s ease; /* Transición suave para efectos de hover */
}

.slider h2:hover,
.nav h2:hover {
  color: #ff0266; /* Cambio de color al pasar el mouse */
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); /* Efecto de sombra más marcado */
  transform: translateY(-5px); /* Ligero levantamiento al pasar el mouse */
}

  h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  
  span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Barra de navegación */
  .nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(4, 80, 7, 0.5);
    background: #070707;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  
  .nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
  }
  
  .nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
  }
  
  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
  }
  
  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
  h1 {
    margin-bottom: 2em; /* Espacio debajo del h1 */
  }
  
  h2 {
    margin-bottom: 2em;
  }
  
  /* Estilos para la carga de la página */
  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
    -moz-animation: loading 1s ease-in-out infinite alternate; /* Para Firefox */
    -ms-animation: loading 1s ease-in-out infinite alternate;  /* Para Internet Explorer */
    animation: loading 1s ease-in-out infinite alternate;      /* Estándar */
  }
  
  @-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
  }
  
  @-moz-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
  }
  
  @-ms-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
  }
  
  @keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
  }
  
  .loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  .loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  
  .loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  
  .loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  
  .loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
  
  .loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -ms-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  
  .loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  
  .loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  
  .loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -ms-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  
  .loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  
  .loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
    -moz-animation-delay: 1.9s;
    -ms-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
  
  .loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    -ms-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  
  /* Estilo para la galería de imágenes */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
    padding-bottom: 75px;  /* Evitar que se solape con el footer */
    position: relative;
  }
  
  .image-container {
    position: relative;
    width: calc(33.33% - 1.5em);  /* Tres imágenes por fila */
    max-width: 350px;  /* Limita el tamaño máximo de cada imagen */
    max-height: fit-content;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .image-large {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
